<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <meta charset="UTF-8">
  <title>baskket</title>
  <meta name="description" content="Baskket - Kernal is a small funny, friendly and talented community of „hackers“ or other weirdos.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<div class="container">
  <div class="header">
    <div class="nav">
      <a class="home" href=/>baskket</a>
      <a id="navCart" href="/cart.html">cart</a>
      <a href="https://kernal.eu">kernal →</a>
    </div>
  </div>

  <div class="content">
    <h2 id="title" value="{{ .Title }}">{{ .Title }}</h2>
    <div class="product">
      <div id=left>
        <img src="{{ .Image }}" alt="{{ .Title }}">
      </div>
      <div class="right">
        <ul>
        <li>{{ .Description }}</li>
	<li id="price" value="{{ .PriceFloat }}">{{ .PriceFloat }} XMR</li>
	<li id="id" value="{{ .Id }}" hidden></li>
	<li id="atomic" value="{{ .PriceAtomic }}" hidden></li>
	{{ if .Quantity }}
	<li>In stock: {{ .Quantity }}</li>
        </ul>
        <div class="button" id="button">Add to cart</div>
        {{ else }}
        <li>Out of stock.</li>
        </ul>
        {{ end }}
      </div>
    </div>
    <script src="/static/js/nofitems.js"></script>
    <script src="/static/js/product.js"></script>
</div>
</body>
</html>
